@import 'variables.scss';
@import 'mixin.scss';

.cell-container {
  display: flex;
  flex-direction: column;
}

.cells__row {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid lighten($primary-color, 25%);
  // height: calc((100vh - 70px) / 6);

  &:last-child {
    border-bottom: none;
  }
}

.cell {
  box-sizing: border-box;
  width: (100% / 7);
  border-right: 1px solid lighten($primary-color, 25%);

  // &:hover {
  //   background: darken($primary-color, 1%);
  //   transition: 0.5s ease-out;
  // }

  &:last-child {
    border-right: none;
    overflow: hidden;
  }
}

.rows-5 {
  height: calc((100vh - 74px) / 5);
}

.rows-6 {
  height: calc((100vh - 75px) / 6);
}

.selected {
  background-color: darken($primary-color, 1.5%);
}

.disabled {
  color: $primary-color;
  opacity: 0.5;
}

.event-info {
  font-family: open-sans-bold;
  font-size: 12px;
  background-color: $event-color;
  color: $secondary-color;
  cursor: pointer;
  border-radius: 4px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  height: 22px;
  margin-bottom: 2px;
  padding: 0 8px;
  white-space: nowrap;
  // width: calc(100vw / 7 - 2%);
  overflow: hidden;
  position: relative;

  &:hover {
    background-color: darken($event-color, 5%);
  }
}

.push-down {
  height: 24px;
}

$event-right-padding: 5px;
.w1of7 {
  width: calc(100vw / 7 - #{$event-right-padding});
}

.w2of7 {
  width: calc((100vw / 7 * 2) - #{$event-right-padding});
}

.w3of7 {
  width: calc((100vw / 7 * 3) - #{$event-right-padding});
}

.w4of7 {
  width: calc((100vw / 7 * 4) - #{$event-right-padding});
}

.w5of7 {
  width: calc((100vw / 7 * 5) - #{$event-right-padding});
}

.w6of7 {
  width: calc((100vw / 7 * 6) - #{$event-right-padding});
}

.w7of7 {
  width: calc((100vw / 7 * 7) - #{$event-right-padding});
}

.number-container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.number {
  font-family: open-sans-bold;
  font-size: 12px;
  color: $secondary-color;
  width: 24px;
  height: 24px;
  cursor: pointer;
  margin-top: 3px;
  line-height: 24px;
  letter-spacing: 0.3px;
  text-align: center;
  border-radius: 50%;

  &:hover {
    background-color: lighten($primary-color, 1%);
  }
}
